@import url("https://fonts.googleapis.com/css?family=Raleway|Poller+One");

.App {
  text-align: center;
  height: 100%;
}
.white-background {
  background-color: white;
  margin: 0 auto;
  width: 60vw;
  padding: 50vh;
  padding-top: 16vh;
  padding-bottom: 16vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

article.white-background {
  text-align: justify;
}

hr {
  margin-top: 3vh;
  border: 0;
  color: lightblue;
  background-color: lightblue;
  height: 1px;
}
nav.laptop,
.title {
  font-family: "Poller One", cursive;
}

nav.laptop {
  background-color: #202020;
  padding: 10px;
  height: 8vh;
  position: fixed;
  width: 100%;
  top: 0;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.show-menu {
  text-decoration: none;
  color: #fff;
  background: black;
  text-align: center;
  padding: 10px 0;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

#menu {
  display: none;
}

.title {
  font-size: 30px;
  color: white;
  transition: 0.4s;
}

.title:hover {
  font-size: 31px;
}

body {
  background-color: ghostwhite;
  margin: 0;
}

body,
a {
  font-family: "Raleway", sans-serif;
}

a {
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

li {
  margin: 10px 10px;
  padding: 3%;
  list-style-type: none;
}

li.article {
  border: 1px solid rgb(179, 43, 43);
  padding: 7%;
  list-style-type: none;
  margin: 10px 10px;
}

button > a {
  font-size: 16px;
  color: white;
}

span > a {
  color: grey;
  font-style: italic;
  margin-left: 2%;
  font-size: 14px;
}

span.votes {
  background-color: black;
  color: white;
  font-weight: bolder;
  border: 0.3vw solid black;
  padding-left: 2px;
  padding-right: 3px;
  margin-right: 6px;
}

.fa-arrow-up {
  color: darkgreen;
}

.fa-arrow-down {
  color: darkred;
}

button {
  background: none;
  border: 1px solid black;
  margin: 6px 7px;
  padding: 5px 10px;
  cursor: pointer;
}

ul {
  padding: 0;
  width: 50vw;
  margin: 0 auto;
  text-align: justify;
}

form {
  width: 30vw;
  margin: 0 auto;
  padding: 2%;
  text-align: start;
  display: flex;
  flex-direction: column;
}

input,
textarea {
  margin: 2% 0;
}

textarea {
  height: 150px;
}

section.user {
  padding-top: 10vh;
}

select {
  width: 15vw;
  margin: 2% 0;
  background-color: white;
}

.submit {
  width: 100px;
  margin-left: 0;
}

.error > a {
  color: black;
}

@media all and (max-width: 900px) {
  ul,
  article {
    width: 70vw;
  }

  form {
    width: 60vw;
  }
  h4 {
    margin-left: 20px;
    margin-right: 20px;
  }
  /* nav bar */
  #nav {
    display: none;
  }

  nav.laptop {
    justify-content: space-around;
  }

  .show-menu {
    display: inline-block;
    width: 5vw;
  }

  input[type="checkbox"]:not(:checked) ~ #menu {
    display: none;
  }
  input[type="checkbox"]:checked ~ #menu {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 35vw;
    position: inherit;
    top: 0;
    right: 0;
    margin-top: 10vh;
  }
  div#menu button {
    width: 90%;
    padding: 4%;
    margin: 0 auto;
    margin-bottom: 2%;
    margin-top: 2%;
  }

  div#menu button:hover {
    border: 1px solid grey;
  }
}

@media all and (max-width: 600px) {
  article {
    padding-top: 1vh;
  }
  input[type="checkbox"]:checked ~ #menu {
    width: 50vw;
  }
  ul,
  article {
    width: 80vw;
  }
  form {
    width: 70vw;
  }
  select {
    width: 40vw;
  }
}
