@import url("https://fonts.googleapis.com/css?family=Raleway|Poller+One");

.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}
hr {
  margin-top: 3vh;
  border: 0;
  color: lightblue;
  background-color: lightblue;
  height: 1px;
}
nav,
.title {
  font-family: "Poller One", cursive;
}

nav {
  background-color: black;
  padding: 10px;
  height: 8vh;
  position: fixed;
  width: 100%;
  top: 0;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-size: 30px;
  color: white;
  transition: 0.4s;
}

.title:hover {
  font-size: 35px;
  color: lightblue;
}

body {
  margin: 0;
  padding-top: 16vh;
  padding-bottom: 16vh;
}

body,
a {
  font-family: "Raleway", sans-serif;
}

li {
  margin: 10px 10px;
  padding: 3%;
  list-style-type: none;
}

li.article {
  border: 1px solid lightblue;
  padding: 7%;
  list-style-type: none;
  margin: 10px 10px;
}

a {
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

button > a {
  font-size: 16px;
  color: white;
}

span > a {
  color: grey;
  font-style: italic;
  margin-left: 2%;
  font-size: 14px;
}

button {
  background: none;
  border: 1px solid black;
  margin: 6px 7px;
  padding: 5px 10px;
  cursor: pointer;
}

ul {
  padding: 0;
  width: 50vw;
  margin: 0 auto;
  text-align: justify;
}

article {
  width: 50vw;
  padding-top: 10vh;
  margin: 0 auto;
  text-align: justify;
}

form {
  max-width: 40vw;
  margin: 0 auto;
  padding: 2%;
  text-align: start;
  display: flex;
  flex-direction: column;
}

input,
textarea {
  margin: 2% 0;
}

textarea {
  height: 150px;
}

section.user {
  padding-top: 10vh;
}

select {
  width: 20vw;
  margin: 2% 0;
  background-color: white;
}

.submit {
  width: 100px;
  justify-self: end;
}

.error > a {
  color: black;
}

@media all and (max-width: 800px) {
  ul {
    width: 70vw;
  }
}
