@import url("https://fonts.googleapis.com/css?family=Raleway|Poller+One");

.App {
  text-align: center;
  height: 100%;
  color: #666565;
}
.white-background {
  border: 1px solid lightgray;
  background-color: white;
  margin: 0 auto;
  width: 60vw;
  padding-top: 16vh;
  padding-bottom: 16vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

article.white-background > div {
  text-align: justify;
  width: 50vw;
  margin: 0 auto;
  margin-top: 5vh;
}
h2,
h3,
.error > a {
  color: black;
}

h2 {
  margin-bottom: 5vh;
}

hr {
  margin-top: 3vh;
  border: 0;
  color: lightgray;
  background-color: lightgray;
  height: 1px;
}

.title,
nav a {
  font-family: "Poller One", cursive;
}

nav a,
footer {
  font-weight: lighter;
}

footer,
nav,
input[type="checkbox"]:checked ~ #mobile {
  background-color: #144d50;
}

nav,
footer {
  box-shadow: 0 0 5px 3px #888;
}

footer {
  height: 5vh;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: whitesmoke;
  font-size: 11px;
  font-weight: bold;
}

nav {
  padding: 10px;
  height: 8vh;
  position: fixed;
  width: 100%;
  top: 0;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.show-menu {
  background: none;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

#mobile {
  display: none;
}

.title {
  font-size: 30px;
  color: white;
  transition: 0.4s;
}

.title:hover {
  font-size: 31px;
}

body {
  background-color: ghostwhite;
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

a {
  font-weight: bolder;
  text-decoration: none;
  color: rgb(104, 146, 170);
}

li {
  margin: 10px 10px;
  padding: 3%;
  list-style-type: none;
}

li.article {
  border: 1px solid lightgrey;
  padding: 7%;
  list-style-type: none;
  margin: 10px 10px;
}

button > a {
  font-size: 16px;
  color: white;
}

.vote-up {
  margin-left: 0;
  padding-left: 2px;
}

span > a {
  color: grey;
  font-style: italic;
  margin-left: 2%;
  font-size: 14px;
}

span.votes {
  background-color: black;
  color: white;
  font-weight: bolder;
  border: 0.3vw solid black;
  padding-left: 2px;
  padding-right: 3px;
  margin-right: 6px;
}

.fa-arrow-up {
  color: darkgreen;
  padding: 1%;
  margin: 0;
}

button i.fa-arrow-down {
  color: darkred;
}

button {
  background: none;
  border: none;
  margin: 0 6px;
  padding: 5px 10px;
  cursor: pointer;
}

ul {
  padding: 0;
  width: 50vw;
  margin: 0 auto;
  text-align: justify;
}

img {
  width: 10vw;
}

form {
  width: 30vw;
  margin: 0 auto;
  padding: 2%;
  text-align: start;
  display: flex;
  flex-direction: column;
}

input,
textarea {
  margin: 2% 0;
}

textarea {
  height: 150px;
}

section.user {
  padding-top: 10vh;
}

select {
  width: 15vw;
  margin: 2% 0;
  background-color: white;
}

.submit {
  width: 100px;
  border: 1px solid rgb(167, 167, 167);
  margin-left: 0;
}

@media all and (max-width: 1100px) {
  .title {
    font-size: 21px;
  }
  nav.laptop a {
    font-size: 11px;
  }
}

@media all and (max-width: 900px) {
  .white-background {
    background-color: white;
    margin: 0 auto;
    width: 70vw;
  }

  ul,
  article {
    width: 70vw;
  }

  form {
    width: 60vw;
  }
  h4 {
    margin-left: 20px;
    margin-right: 20px;
  }

  img {
    width: 20vw;
  }
  /* nav bar */
  #nav {
    display: none;
  }

  nav.laptop {
    justify-content: space-between;
  }

  label.show-menu {
    margin-right: 4vw;
    font-size: 25px;
  }

  span.title {
    margin-left: 4vw;
  }

  .show-menu {
    display: inline-block;
    width: 10vw;
  }

  input[type="checkbox"]:checked ~ #mobile {
    display: flex;
    flex-direction: column;
    width: 35vw;
    position: inherit;
    top: 0;
    right: 0;
    margin-top: 10.5vh;
  }
  div#mobile button {
    width: 100%;
    padding: 7% 0;
    margin: 0 auto;
    margin-top: 7px;
    margin-bottom: 4px;
  }

  div#mobile button:hover {
    background-color: #0f5f5f;
  }
}

@media all and (max-width: 600px) {
  .white-background {
    background-color: white;
    margin: 0 auto;
    width: 70vw;
  }

  div#mobile button:hover {
    background-color: #0f5f5f;
    height: 90%;
  }

  input[type="checkbox"]:checked ~ #mobile {
    margin-top: 10.7vh;
  }

  .title,
  .title:hover {
    font-size: 18px;
  }

  label.show-menu {
    margin-right: 8vw;
    font-size: 25px;
  }

  article.white-background > div {
    width: 60vw;
  }

  input[type="checkbox"]:checked ~ #mobile {
    width: 50vw;
  }
  ul,
  article {
    width: 70vw;
  }
  form {
    width: 65vw;
  }
  select,
  img {
    width: 40vw;
  }
  footer {
    font-size: 11px;
  }
  li.article {
    font-size: 14px;
  }
}
